body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: Arial, sans-serif;
}

/* Main menu styling */
#menu {
  width: 100%;
  height: 100%;
  display: flex;
  background-image: url('images/star_background.jpg'); /* Set the background image */
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  background-size: cover; /* Make sure the image covers the whole screen */
  background-position: center; /* Center the background image */
  background-repeat: no-repeat; /* Prevent tiling */
  background-attachment: fixed; /* Fix the background while scrolling */
}

/* Title banner at the top */
#banner {
  width: 100%;
  padding: 20px;
  background: linear-gradient(135deg, #1d2b64, #351551);
  color: #e0e0e0;
  text-align: center;
  font-size: 3em;
  font-family: 'Orbitron', sans-serif; /* Unique font */
  text-shadow: 
    0 0 5px rgba(255, 255, 255, 0.8), /* White glow */
    0 0 10px rgba(255, 255, 255, 0.5), /* Larger white glow */
    0 0 15px rgba(0, 170, 255, 0.7); /* Cyan glow for a cooler effect */  letter-spacing: 1px; /* Slight letter spacing for a cleaner look */
/* border-bottom: 4px solid #212f5f; /* Accent line at the bottom */
}

/* Search bar styling */
#small-banner {
  width: 100%;
  padding: 10px; /* Increased padding for a more spacious look */
  background: linear-gradient(135deg, #232424, #02195f, #232424); /* Similar gradient to the title banner */
  color: white; /* Light text color */
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  border-top: 2px solid #4c5c91; /* Accent line at the top */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3); /* Subtle shadow for depth */
  font-family: 'Orbitron', sans-serif; /* Match the unique font of the title banner */
}

/* Search bar styling */
#search-bar {
  padding: 8px;
  font-size: 1em;
  width: 300px; /* Adjust width */
  border: 1px solid #ffffff; /* Border color */
  border-radius: 5px;
  background-color: rgba(255, 255, 255); /* Slightly transparent background */
  color: black; /* White text color */
}

#take-quiz-btn {
  display: none; /* HIDING QUIZ*/
  padding: 5px 10px; /* Adds padding to the button */
  font-family: 'Orbitron', sans-serif; /* Matches your font */
  cursor: pointer; /* Changes cursor on hover */
  background-color: #007bff; /* Button background color */
  color: white; /* Button text color */
  border: none; /* Removes default border */
  border-radius: 5px; /* Rounds button corners */
}

#take-quiz-btn:hover {
  background-color: #0056b3; /* Darkens button on hover */
}

/* Auto-rotate checkbox style */
/* Back button styles */
#back-btn {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #2c2c2c; /* Dark background */
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.4); /* Maintain white glow */
  background-image: linear-gradient(to bottom, #322f2f, #171717);
  border-radius: 10px;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1em;
  z-index: 10;
}

/* Auto-Rotate container styles */
#auto-rotate-container {
  display: none; /* Hidden by default */
  position: absolute;
  top: 60px;
  left: 10px;
  background-color: #2c2c2c;
  padding: 5px 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
  z-index: 10;
  align-items: center;
}

#auto-rotate-container input[type="checkbox"] {
  margin-right: 5px;
}

#auto-rotate-container label {
  color: white;
  font-size: 0.9em;
}


#globe-container {
  cursor:pointer;
}

/* Panel container for planets */
#planet-container {
  width: 100%;
  flex-grow: 1;
  overflow-y: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}

.no-results {
  color: white;
  text-align: center;
  display: none; 
  font-size: 1.5em; 
  
}

.more-info-link {
  color: #f7f7f7; /* Your desired link color */
  text-decoration: none;
}


.more-info-link:hover {
  color: #ada29f;
  text-decoration: underline;
}

/* Individual planet panels */
.planet-panel {
  width: 380px;
  height: 420px;
  margin: 5px;
  padding: 1px;
  background-color: #1c3454;
  border: 1px solid #ddd;
  color: white; /* Light text color */
  font-family: 'Orbitron', sans-serif; /* Match the unique font of the title banner */
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

/* Image inside planet panels */
.planet-panel img {
  width: 100%;
  height: 60%;
  object-fit: contain;
  border-radius: 5px;
  margin-bottom: 10px;
}

/* Buttons inside planet panels */
.planet-panel button {
  padding: 7px;
  font-size: 1.1em;
  cursor: pointer;
  background-color: #3db7ec;
  color: white;
  border: none;
  border-radius: 10%;
  transition: background-color 0.3s;
}

.planet-panel button:hover {
  background-color: #4087ea;
}

/* Back button */
#back-btn {
  position: absolute;
  top: 10px;
  left: 10px;
  display: none;
  cursor:pointer;
  background-color: #2c2c2c; /* Dark background */
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.4); /* Maintain white glow in collapsed state */
  background-image: linear-gradient(to bottom, #322f2f, #171717);  border-radius: 10px;
  color: white; /* Text color for contrast */
}

/* Planet Info Panel */
#planet-info {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 250px;
  height: 500px;
  background-color: #2c2c2c; /* Dark background */
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.4); /* Maintain white glow in collapsed state */
  background-image: linear-gradient(to bottom, #322f2f, #171717);  border-radius: 10px;
  padding: 20px;
  display: none;
  color: white; /* Text color for contrast */
  overflow-y: auto; /* Scrollable if content overflows */
  transition: all 0.3s ease;

}

/* Collapsed state of Planet Info Panel */
#planet-info.collapsed {
  cursor: pointer;
  width: 200px;
  height: 20px;
  background-color: #171717;
  color: white;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.4); /* Maintain white glow in collapsed state */
  background-image: linear-gradient(to bottom, #322f2f, #171717);
}

/* Info Icon Styles */
#info-icon {
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
  background-color: #444; /* Darker background for the icon */
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s;
}

#info-icon img {
  width: 130%;
  height: 130%;
  border-radius: 50%;
}

#info-icon:hover {
  background-color: #555; /* Darker on hover */
}

/* Planet Info Title */
#planet-info h2 {
  margin-top: 0;
  color: #fff; /* Ensure title text is white for visibility */
}
